<html>
    <head>

        <link rel="stylesheet" href="index.css">∫
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!--Import Google Icon Font-->
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
       <!--Let browser know website is optimized for mobile-->
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body class="container">

        <div id="app">
          <h4>Prueba 1</h4>
            <section>
              <input v-model='message'>

              <div>
                <button type="button" name="button" v-on:click='addText(message)'>
                  <span>Añadir texto</span>
                </button>
              </div>
            </section>


            <section>
              <todo-item v-for='item in list' v-bind:todo='item' v-bind:key='item.id'></todo-item>
            </section>

            <section>
              <div v-for='l in list'>
                <ol>
                  <li>{{l}}</li>
                </ol>
              </div>
            </section>
        </div>


        <div id="app2">
          <h4>Prueba 2</h4>
            <p>{{message}}</p>


        </div>


        <script src="general.module/test/app.js"></script>
        <script src="general.module/test/app-2.js"></script>
    </body>
</html>
